/* Centering the main container */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1c1c1c; 
    font-family: 'Orbitron', sans-serif; 
    color: #00ffea; 
}

.clocks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
}


/* Clock styling */
.clock {
    display: flex;
    flex-direction: row;
    font-size: 3em;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    width: 250px;
    border-radius: 12px;
    border: 2px solid #00ffea; 
    box-shadow: 0 0 20px #00ffea, 0 0 40px #ff00ff; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clock:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #ff00ff, 0 0 60px #ff00ff; /* Stronger glow on hover */
}

/* Blinking effect for time adjustment */
.blinking {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0%, 100% { visibility: visible; }
    50% { visibility: hidden; }
}


button {
    margin: 10px;
    padding: 15px 25px;
    border-radius: 8px;
    border: 2px solid #ff00ff; 
    background-color: #1a1a1a; 
    color: #00ffea; 
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-transform: uppercase; 
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

button:hover {
    background-color: #ff00ff; 
    color: #1a1a1a; 
    transform: translateY(-3px);
    box-shadow: 0 0 20px #00ffea, 0 0 40px #00ffea;
}

.remove-clock {
    background-color: #ff0055; 
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px; 
    box-shadow: 0 0 10px #ff0055, 0 0 20px #ff0055;
    transition: background-color 0.3s, transform 0.3s;
}

.remove-clock:hover {
    background-color: #ff1a75;
    transform: scale(1.1);
}

clock-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
